

<!--&lt;!&ndash;gt-text: <gt-text mode="EDIT" [(model)]="section.text"></gt-text>&ndash;&gt;-->
<!--&lt;!&ndash;<br/>&ndash;&gt;-->
<!--&lt;!&ndash;gt-paragraph: <gt-paragraph  mode="EDIT" [data]="text"></gt-paragraph>&ndash;&gt;-->
<!--&lt;!&ndash;<br/>&ndash;&gt;-->
<!--&lt;!&ndash;<span> hello </span>&ndash;&gt;-->

<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;gt-section:&ndash;&gt;-->
<!--&lt;!&ndash;<gt-section mode="EDIT" [(model)]="section">&ndash;&gt;-->

<!--&lt;!&ndash;</gt-section>&ndash;&gt;-->
<!--<br/>-->
<!--<pre>{{section | json}}</pre>-->


<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--&lt;!&ndash;<gt-article mode="EDIT"  [(model)]="article"></gt-article>&ndash;&gt;-->
<!--<br/>-->
<!--<pre>{{article | json}}</pre>-->
