
:host{
  width: 76%;
  .wrap {
    width: 100%;
    .search {
      width: 100%;
      position: relative;
      display: flex;
      .searchTerm {
        width: 100%;
        border: 3px solid #1976d2;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
        &:focus {
          color: #1976d2;
        }
      }
      .searchButton {
        width: 44px;
        height: 36px;
        border: 1px solid #1976d2;
        background: #1976d2;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        svg {
          margin: 4px;
          height: 24px;
        }
      }
    }
  }
}
