


<!--<ng-container *ngFor="let paragraphData of paragraphDataList;">-->
<!--    <gt-paragraph  [paragraphModel]="paragraphData" displayMode="EDIT">-->
<!--    </gt-paragraph>-->
<!--    <br/>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="paragraphDataList.length >= 2">-->
<!--<gt-paragraph  [paragraphModel]="paragraphDataList[0]" displayMode="EDIT">-->
<!--</gt-paragraph>-->

<!--<br/>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br/>-->

<!--<gt-paragraph  [paragraphModel]="paragraphDataList[1]" displayMode="EDIT">-->
<!--</gt-paragraph>-->

<!--</ng-container>-->
<!--<br/>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br/>-->
<!--<gt-paragraph  [paragraphModel]="paragraphDataList[0]" displayMode="EDIT"></gt-paragraph>-->
<!--<button (click)="addNew()">add</button>-->

<gt-section>
</gt-section>