@keyframes emptyFocusAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


[gt-placeholder]:empty::before {
  content: attr(gt-placeholder);
  color: #555;
}

[gt-placeholder]:empty:focus::before {
  animation: emptyFocusAnimation 1s linear infinite alternate;
  content: "|";
}
